In [1]:
import pandas as pd
import numpy as np

In [2]:
train_full = pd.read_json('train-code25.json')
test_full = pd.read_json('test-code25.json')

train_filt = pd.read_csv('train.csv')
test_filt = pd.read_csv('test.csv')

In [3]:
from nltk.tokenize import TweetTokenizer

In [7]:
tokenizer = TweetTokenizer()

def get_stats(df):
    num_articles = len(df)
    all_tokens = []
    for text in df['code']:
        tokens = tokenizer.tokenize(text.lower())
        all_tokens += tokens
    num_tokens = len(all_tokens)
    vocab = set(all_tokens)
    vocab_size = len(vocab)
    return num_articles, num_tokens, vocab, vocab_size

In [19]:
def get_stat(train, test):
    # Calculate statistics for train and test dataframes
    train_stats = get_stats(train)
    test_stats = get_stats(test)

    # Calculate out-of-vocabulary rate
    oov_rate = len(train_stats[2] - test_stats[2]) / test_stats[1]
    vocab_size = len(train_stats[2].union(test_stats[2]))

    # Print statistics table
    data = {
        'Dataset': ['Train', 'Test'],
        'Articles': [train_stats[0], test_stats[0]],
        'Total Tokens': [train_stats[1], test_stats[1]],
        'Vocabulary Size': [vocab_size, 0],
        'Out-of-Vocabulary Rate': ['-', f'{oov_rate:.2%}'],
    }
    df = pd.DataFrame(data)
    df['Articles'] = df['Articles'].astype(int)
    df['Total Tokens'] = df['Total Tokens'].astype(int)
    df['Vocabulary Size'] = df['Vocabulary Size'].astype(int)
    # df['Out-of-Vocabulary Rate'] = df['Out-of-Vocabulary Rate'].astype(int)

    df.set_index('Dataset', inplace=True)
    return df.T

In [ ]:
pd.set_option("display.precision", 8)

In [21]:
get_stat(train_full, test_full)

Dataset                    Train     Test
Articles                  179556    44889
Total Tokens            22918027  5703973
Vocabulary Size           973791        0
Out-of-Vocabulary Rate         -   12.31%

In [20]:
get_stat(train_filt, test_filt)

Dataset                   Train    Test
Articles                  11283    3762
Total Tokens            2276937  815325
Vocabulary Size          121641       0
Out-of-Vocabulary Rate        -   9.38%